ansible/roles/geerlingguy*
ansible/roles/elliotweiser*
ansible/roles/ngine_io*
ansible/roles/robertdebock*
ansible/.ansible/*
vault/
.vault_pass

# SSL Certificate files (sensitive)
vault-ca.pem
vault-ca-b64.txt
k3s/platform/ssl-certificates/vault-ca.pem
