argo-cd:
  configs:
    params:
      server.insecure: true
  server:
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web
      tls: false
      hosts:
        - host: {{ argocd_domain | default('argocd.home.lan') }}
          paths:
            - path: /
              pathType: ImplementationSpecific
    metrics: &metrics
      enabled: false
      serviceMonitor:
        enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      generators:
        - git:
            repoURL: &repoURL {{ argocd_repo_url | default('http://gitea-http.gitea:3000/ops/homelab') }}
            revision: &revision {{ argocd_repo_revision | default('main') }}
            directories:
              - path: k3s/system/*
              - path: k3s/platform/*
              - path: k3s/apps/*
      template:
        spec:
          source:
            repoURL: *repoURL
            targetRevision: *revision
