argo-cd:
  global:
    domain: {{ argocd_domain | default('argocd.home.lan') }}
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    cm:
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
  server:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/rewrite-target: /
      tls: false
      hosts:
        - host: {{ argocd_domain | default('argocd.home.lan') }}
          paths:
            - path: /
              pathType: ImplementationSpecific
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      namespace: argocd
      generators:
        - git:
            repoURL: &repoURL {{ argocd_repo_url | default('http://gitea-http.gitea:3000/ops/homelab') }}
            revision: &revision {{ argocd_repo_revision | default('main') }}
            directories:
              - path: k3s/system/*
              - path: k3s/apps/*
      template:
        metadata:
{% raw %}
          name: '{{path.basename}}'
{% endraw %}
        spec:
          destination:
            name: in-cluster
{% raw %}
            namespace: '{{path.basename}}'
{% endraw %}
          project: default  # TODO
          source:
            repoURL: *repoURL
{% raw %}
            path: '{{path}}'
{% endraw %}
            targetRevision: *revision
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 1m
                factor: 2
                maxDuration: 16m
          syncOptions:
            - CreateNamespace=true
            - ApplyOutOfSyncOnly=true
            - ServerSideApply=true
          managedNamespaceMetadata:
            annotations:
              volsync.backube/privileged-movers: "true"
