---
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: kube-system
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  defaultCertificate:
    secretName: wildcard-home-claydon-co-tls
