---
gitea:
  ingress:
    enabled: true
    className: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
    hosts:
      - host: git.home.lan
        paths:
          - path: /
            pathType: Prefix
    tls: []

  env:
    - name: GITEA_REDIS_HOST
      value: gitea-redis-master.default.svc.cluster.local
    - name: GITEA_REDIS_PORT
      value: "6379"

  externalSecret:
    name: vault-gitea-secrets
    namespace: tools
    secretStoreRef:
      name: vault-kv
      kind: ClusterSecretStore
    targetName: gitea-secrets

  gitea:
    config:
      database:
        DB_TYPE: postgres
        NAME: gitea
        SCHEMA: public
        SSL_MODE: disable
      indexer:
        ISSUE_INDEXER_TYPE: bleve
        REPO_INDEXER_ENABLED: true

    additionalConfigFromEnvs:
      - name: GITEA__DATABASE__HOST
        valueFrom:
          secretKeyRef:
            name: gitea-secrets
            key: GITEA_DATABASE_HOST
      - name: GITEA__DATABASE__USER
        valueFrom:
          secretKeyRef:
            name: gitea-secrets
            key: GITEA_DATABASE_USER
      - name: GITEA__DATABASE__PASSWD
        valueFrom:
          secretKeyRef:
            name: gitea-secrets
            key: GITEA_DATABASE_PASSWD
      - name: GITEA__REDIS__PASSWD
        valueFrom:
          secretKeyRef:
            name: gitea-secrets
            key: GITEA_REDIS_PASSWD

    redis:
      HOST: gitea-redis-master.default.svc.cluster.local
      PORT: 6379

  admin:
    username: ""
    password: ""
    email: ""
    existingSecret: gitea-admin-credentials

  # Disable built-in PostgreSQL as we're using external database
  postgresql:
    enabled: false

  postgresql-ha:
    enabled: false

  redis-cluster:
    enabled: false
    cluster:
      nodes: 0
      replicas: 0

  redis:
    enabled: true

  namespace: tools

  persistence:
    enabled: true
    create: false
    claimName: gitea-data-pvc
