---
storage:
  pv:
    name: openwebui-config-pv
    labels:
      type: config
      app: openwebui
    capacity: 1Gi
    accessModes: ReadWriteMany
    reclaimPolicy: Retain
    storageClassName: nfs-storage
    nfs:
      server: nas.home.lan
      path: /volume1/docker/openwebui
  pvc:
    name: openwebui-config-pvc
    namespace: tools
    accessModes: ReadWriteMany
    requests:
      storage: 1Gi
    storageClassName: nfs-storage

externalSecret:
  name: openwebui-external-secret
  namespace: tools
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-kv
    kind: ClusterSecretStore
  target:
    name: openwebui-secrets
  data:
    - secretKey: DATABASE_URL
      remoteRef:
        key: openwebui
        property: DATABASE_URL
    - secretKey: ollamaUrls
      remoteRef:
        key: openwebui
        property: OLLAMA_URL

open-webui:
  namespaceOverride: tools

  ollamaUrls:
    - valueFrom:
        secretKeyRef:
          name: openwebui-secrets
          key: ollamaUrls

  ollama:
    enabled: false
    replicaCount: 0 # Because enabled = false was not working, ffs.
    image:
      repository: ""

  pipelines:
    enabled: true
    namespaceOverride: tools
    persistence:
      existingClaim: "openwebui-config-pvc"
      storageClass: "nfs-storage"

  persistence:
    existingClaim: "openwebui-config-pvc"
    storageClass: "nfs-storage"

  extraEnvVars:
    - name: DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: openwebui-secrets
          key: DATABASE_URL
    - name: TZ
      value: "America/New_York"

  resources:
    requests:
      cpu: "1000m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

  ingress:
    enabled: true
    annotations: {}
    host: chat.home.lan

  service:
    type: NodePort
    port: 8080
    targetPort: 8080

  priorityClassName: low-priority
