---
all:
  children:
    dns:
      hosts:
        dns1-server: {}
        dns2-server: {}
    proxmox:
      hosts:
        proxmox-server: {}
    mysqldev:
      hosts:
        mysql-dev-server: {}
    postgresdev:
      hosts:
        postgres-dev-server: {}
    storage:
      hosts:
        rafiki.local: {}
        zazu.local: {}
    vault:
      hosts:
        vault: {}
    monitoring:
      children:
        prom:
          hosts:
            prom.home.lan:
              monitoring_prometheus_alertmanager_urls:
                - "http://localhost:9093"
        logs:
          hosts:
            loki.home.lan:
              monitoring_loki_config:
                auth_enabled: false
                server:
                  http_listen_address: 0.0.0.0
                  http_listen_port: 3100
                  grpc_listen_port: 9096
                common:
                  instance_addr: 127.0.0.1
                  path_prefix: /var/lib/loki
                  replication_factor: 1
                  ring:
                    instance_addr: 127.0.0.1
                    kvstore:
                      store: inmemory
                memberlist:
                  bind_port: 7946
                schema_config:
                  configs:
                    - from: "2020-10-15"
                      store: boltdb-shipper
                      object_store: filesystem
                      schema: v11
                      index:
                        prefix: loki_index_
                        period: 24h
                storage_config:
                  boltdb_shipper:
                    shared_store: filesystem
                    active_index_directory: /var/lib/loki/index
                    cache_location: /var/lib/loki/cache
                  filesystem:
                    directory: /var/lib/loki/chunks
                limits_config:
                  retention_period: 168h
        grafana:
          hosts:
            graf.home.lan:
              monitoring_grafana_protocol: https
              monitoring_grafana_domain: graf.home.lan
              monitoring_grafana_datasources:
                - name: Prometheus
                  type: prometheus
                  access: proxy
                  url: http://prom.home.lan:9090
                  isDefault: true
                - name: Loki
                  type: loki
                  access: proxy
                  url: http://loki.home.lan:3100
k3s:
  children:
    server:
      hosts:
        k3s-controller:
    agent:
      hosts:
        k3s-node1:
        k3s-node2:
  vars:
    k3s_version: v1.32.3+k3s1
    token: ""
    extra_server_args: "--node-taint CriticalAddonsOnly=true:NoExecute"
    api_endpoint: "{{ hostvars[groups['server'][0]]['ansible_host'] | default(groups['server'][0]) }}"
