---
all:
  children:
    dns:
      hosts:
        dns1-server: {}
        dns2-server: {}
        dns3-server: {}
    proxmox:
      hosts:
        proxmox-server: {}
    mysqldev:
      hosts:
        mysql-dev-server: {}
    postgresdev:
      hosts:
        postgres-dev-server: {}
    storage:
      hosts:
        rafiki.local: {}
        zazu.local: {}
    vault:
      hosts:
        vault: {}
k3s:
  children:
    server:
      hosts:
        k3s-controller:
    agent:
      hosts:
        k3s-node1:
        k3s-node2:
  vars:
    k3s_version: v1.32.3+k3s1
    token: ""
    extra_server_args: "--node-taint CriticalAddonsOnly=true:NoExecute"
    api_endpoint: "{{ hostvars[groups['server'][0]]['ansible_host'] | default(groups['server'][0]) }}"
