---
external-secrets:
  installCRDs: true
  serviceAccount:
    create: true
    name: external-secrets
  webhook:
    create: true
  certController:
    create: true
    serviceAccount:
      create: true
      name: external-secrets-cert-controller
      annotations: {}
      automountServiceAccountToken: true
    rbac:
      create: true
      extraRules:
        - apiGroups: ["admissionregistration.k8s.io"]
          resources: ["validatingwebhookconfigurations", "mutatingwebhookconfigurations"]
          verbs: ["get", "list", "watch", "update"]
        - apiGroups: ["apiextensions.k8s.io"]
          resources: ["customresourcedefinitions"]
          verbs: ["get", "list", "watch"]

  extraEnv:
    - name: VAULT_CACERT
      value: /etc/vault/tls/ca.crt
  extraVolumes:
    - name: vault-ca
      secret:
        secretName: vault-ca
  extraVolumeMounts:
    - name: vault-ca
      mountPath: /etc/vault/tls
      readOnly: true
