---
- name: Prepare monitoring hosts
  hosts: monitoring
  become: true
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  roles:
    - monitoring_common

- name: Install Prometheus and Alertmanager
  hosts: prom
  become: true
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  roles:
    - monitoring_prometheus
    - monitoring_exporters
    - node_exporter

- name: Install Loki
  hosts: logs
  become: true
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  roles:
    - monitoring_loki
    - node_exporter

- name: Install Grafana
  hosts: grafana
  become: true
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  roles:
    - monitoring_grafana
    - node_exporter

- name: Install logging agents on monitoring hosts
  hosts: monitoring
  become: true
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  roles:
    - logging_agent
