---
- name: Create and configure containers on Proxmox
  hosts: proxmox
  vars_files:
    - ../default.config.yml
    - ../secrets.enc

  vars:
    ansible_become: true

  tasks:
    - name: Create Vault Container
      community.general.proxmox:
        vmid: 106
        node: pve
        api_user: ansible@pam
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token }}"
        api_host: localhost
        password: "{{ proxmox_api_password }}"
        storage: local-lvm
        hostname: vault
        ostemplate: local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst
        netif: '{"net0":"name=eth0,gw=192.168.88.1,ip=192.168.88.6/24,bridge=vmbr0"}'
        pubkey: "{{ rsa_key }}"
        cores: 1
        memory: 1024
        swap: 0
        description: "HashiCorp Vault Server managed by Ansible"
        features:
          - nesting=1

    - name: Start Vault Container
      community.general.proxmox:
        vmid: 106
        api_user: ansible@pam
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token }}"
        api_host: localhost
        state: started
        timeout: 90  # Increased timeout for database container startup

- name: Setup Vault Server
  hosts: vault
  vars_files:
    - ../default.config.yml
    - ../secrets.enc
  vars:
    ansible_become: true
    vault_version: 1.19.2
    vault_hardening_disable_swap: false

  roles:
    - role: robertdebock.bootstrap
    - role: robertdebock.core_dependencies
    - role: robertdebock.hashicorp
    - role: robertdebock.vault
      vars:
        vault_version: 1.19.2
        vault_hardening_disable_swap: false

  tasks:
    - name: Ensure Vault TLS directory exists
      file:
        path: /etc/vault.d/tls
        state: directory
        owner: vault
        group: vault
        mode: '0750'

    - name: Install Vault TLS private key
      copy:
        content: "{{ vault_tls.server_key_pem }}"
        dest: /etc/vault.d/tls/vault.key
        owner: vault
        group: vault
        mode: '0600'
      when: vault_tls is defined and vault_tls.server_key_pem is defined
      notify: restart vault

    - name: Install Vault TLS fullchain
      copy:
        content: "{{ vault_tls.server_fullchain_pem }}"
        dest: /etc/vault.d/tls/vault.crt
        owner: vault
        group: vault
        mode: '0644'
      when: vault_tls is defined and vault_tls.server_fullchain_pem is defined
      notify: restart vault

    - name: Install Vault root CA copy (optional)
      copy:
        content: "{{ vault_tls.root_ca_pem }}"
        dest: /etc/vault.d/tls/root-ca.pem
        owner: vault
        group: vault
        mode: '0644'
      when: vault_tls is defined and vault_tls.root_ca_pem is defined

  handlers:
    - name: restart vault
      service:
        name: vault
        state: restarted
